.home-top
  .home-top__cross
    CROSS
  .home-top__menu
    .home-top__menu__profile
      = current_user.
      = link_to edit_user_path(current_user) do
        PROFILE
      .home-top__menu__login
        LOGIN
      .home-top__menu__favorite
        FAVORITE
      .home-top__menu__search
        SEARCH
      .home-top__menu__posting
        POST

.home-main
  .home-main__posted-one
    .home-main__posted-one__picture
    .home-main__posted-one__details
      .home-main__posted-one__details__comment
        aaaaaaa
        aaaaaaa
      .home-main__posted-one__details__place-time
        .home-main__posted-one__details__place-time__place
          アメリカ
        .home-main__posted-one__details__place-time__time
          12:00
      .home-main__posted-one__details__url-name
        .home-main__posted-one__details__url-name__url
          abc123
        .home-main__posted-one__details__url-name__name
          株式会社〇〇
  .home-main__posted-two
    .home-main__posted-two__picture
    .home-main__posted-two__details
      .home-main__posted-two__details__comment
        bbbbbbb
        bbbbbbb
      .home-main__posted-two__details__place-time
        .home-main__posted-two__details__place-time__place
          日本
        .home-main__posted-two__details__place-time__time
          13:00
      .home-main__posted-two__details__url-name
        .home-main__posted-two__details__url-name__url
          abc456
        .home-main__posted-two__details__url-name__name
          株式会社□□
  .home-main__posted-three
    .home-main__posted-three__picture
    .home-main__posted-three__details
      .home-main__posted-three__details__comment
        ccccccc
        ccccccc
      .home-main__posted-three__details__place-time
        .home-main__posted-three__details__place-time__place
          韓国
        .home-main__posted-three__details__place-time__time
          14:00
      .home-main__posted-three__details__url-name
        .home-main__posted-three__details__url-name__url
          abc789
        .home-main__posted-three__details__url-name__name
          株式会社△△
